@model List<FWAcore.Model.UserView>

@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    <table style="width: 100%;border: 1px solid black;border-collapse: collapse;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].FirstName)
                </th>
                <th>@Html.DisplayNameFor(model => model[0].LastName)</th>
                <th>@Html.DisplayNameFor(model => model[0].Login)</th>
                <th style="text-align:center;">Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Login</td>
                    @{
                        if (user.aAddressId is not null)
                        {
                            <td>@user.Street @user.Number, @user.ZipCode @user.City</td>
                        } else
                        {
                            <td>@user.uAddressId</td>
                        }
                    }
                    <td align-items: center;justify-content: center;">
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.UserId" style="display:inline-block"><i class="material-icons">edit</i></a>
                        <form asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId" method="post" style="display:inline-block">
                            <button type="submit" style="display:contents;"><i class="material-icons">delete</i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>