@model List<FWAcore.Model.UserView>

@{
    ViewData["Title"] = "Users";
}

@functions {
    string GetOrderBy(string columnName)
    {
        if (ViewBag.OrderBy == columnName)
        {
            return columnName + "_DESC";
        }
        else if (ViewBag.OrderBy == columnName + "_DESC")
        {
            return "";
        } else
        {
            return columnName;
        }
    }
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    <table id="userTable" style="width: 100%;border: 1px solid black;border-collapse: collapse;">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("First name", "Index", new { orderBy = GetOrderBy("FirstName") })
                </th>
                <th>@Html.ActionLink("Last name", "Index", new { orderBy = GetOrderBy("LastName") })</th>
                <th>@Html.ActionLink("Login", "Index", new { orderBy = GetOrderBy("Login") })</th>
                <th style="text-align:center;">Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Login</td>
                    @{
                        if (user.aAddressId is not null)
                        {
                            <td>@user.Street @user.Number, @user.ZipCode @user.City</td>
                        } else
                        {
                            <td>@user.uAddressId</td>
                        }
                    }
                    <td align-items: center;justify-content: center;">
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.UserId" style="display:inline-block"><i class="material-icons">edit</i></a>
                        <form asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId" method="post" style="display:inline-block">
                            <button type="submit" style="display:contents;"><i class="material-icons">delete</i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--
<script>
    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>
-->
